<main>
  <h1>Ciphers In Ruby</h1>

  <%= form_with url: "/", id: "cipher-form" , multipart: true, remote: true do |f| %>
    <div class="field-wrapper">
      <%= f.label :input_type, "Input type:" %>
      <%= f.select :input_type, [["Text","text"], ["File","file"]], selected: 'text' %>
    </div>
    <div class="field-wrapper" id="input_field">
      <%= f.label :input_text, "Input text:" %>
      <%= f.text_area :input_text, rows: 5, cols: 60, required: true, value: @input_text %>
    </div>
    <div class="field-wrapper">
      <%= f.label :cipher_type, "Cipher type:" %>
      <%= f.select :cipher_type, [["Vigenere", "vigenere"], ["Auto-Key Vigenere","auto-key-vigenere"], ["Extended Vigenere","extended-vigenere"], ["Playfair","playfair"], ["Affine","affine"], ["Hill", "hill"], ["Super Encryption (Extended Vigenere Cipher and Transposition)", "super"], ["Enigma", "enigma"]], selected: @cipher_type == nil ? "vigenere" : @cipher_type %>
    </div>
    <div class="field-wrapper">
      <%= f.label :key, "Key:" %>
      <%= f.text_field :key, value: @key, required: true %>
    </div>
    <div class="button-wrapper">
      <%= f.submit "Encrypt" %>
      <%= f.submit "Decrypt"%>
    </div>
  <%end%>

  <div id="output">
    <label for="ciphertext-output">Output text:</label>
    <textarea id="ciphertext-output" rows="5" cols="60" disabled><%= @result%></textarea>
  </div>
</main>
