<main>
  <h1>Ciphers In Ruby</h1>

  <%= form_with url: "/", id: "cipher-form" , multipart: true, remote: true do |f| %>
    <div class="field-wrapper">
      <%= f.label :input_type, "Input type:" %>
      <%= f.select :input_type, [["Text","text"], ["File","file"]], selected: 'text' %>
    </div>
    <div class="field-wrapper" id="input_field">
      <%= f.label :input_text, "Input text:" %>
      <%= f.text_area :input_text, rows: 5, cols: 60, required: true, value: @input_text %>
    </div>
    <div class="field-wrapper">
      <%= f.label :cipher_type, "Cipher type:" %>
      <%= f.select :cipher_type, [["Vigenere", "vigenere"], ["Auto-Key Vigenere","auto-key-vigenere"], ["Extended Vigenere","extended-vigenere"], ["Playfair","playfair"], ["Affine","affine"], ["Hill", "hill"], ["Super Encryption (Extended Vigenere Cipher and Transposition)", "super"], ["Enigma", "enigma"]], selected: @cipher_type == nil ? "vigenere" : @cipher_type %>
    </div>
    <div class="field-wrapper">
      <%= f.label :key, "Key:" %>
      <%= f.text_field :key, value: @key, required: true %>
    </div>
    <div class="button-wrapper">
      <%= f.submit "Encrypt" %>
      <%= f.submit "Decrypt"%>
    </div>
  <%end%>


  <div id="output">
    <label for="ciphertext-output">Output text:</label>
    <textarea id="ciphertext-output" rows="5" cols="60" disabled></textarea>
    <div>
      <button id="plaintext">Plaintext</button>
      <button id="base64">Base64</button>
    </div>
    <label for="ciphertext-output-bytes">Output bytes:</label>
    <textarea id="ciphertext-output-bytes" rows="5" cols="60" disabled><%= @result_bytes%></textarea>
  </div>
  <div id="download">
    <button id="download-file" onclick="download()">Download</button>
    <button id="download-binary" onclick="downloadBinary()">Download as binary</button>
  </div>
</main>

<script>
  function saveFile(fileName,urlFile){
      let a = document.createElement("a");
      a.style = "display: none";
      document.body.appendChild(a);
      a.href = urlFile;
      a.download = fileName;
      a.click();
      window.URL.revokeObjectURL(url);
      a.remove();
  }

  function download() {
    let bytesRaw = document.getElementById("ciphertext-output-bytes").value;
    // Parse bytes array
    let bytes = new Uint8Array(
      bytesRaw
        .trim()
        .replace(/[\[\]\ ]/g, "")
        .split(",")
        .map(Number)
    )
    let type = "<%= @content_type%>";
    let fileName = "output";
    let urlFile = "";
    urlFile = URL.createObjectURL(new Blob([bytes], {type: type}));
    console.log(type);
    fileName += ".<%= @file_type%>";
    saveFile(fileName,urlFile);
  }

  function downloadBinary() {
    let bytesRaw = document.getElementById("ciphertext-output-bytes").value;
    // Parse bytes array
    let bytes = new Uint8Array(
      bytesRaw
        .trim()
        .replace(/[\[\]\ ]/g, "")
        .split(",")
        .map(Number)
    )
    let fileName = "output";
    let urlFile = "";
    urlFile = URL.createObjectURL(new Blob([bytes], {type: "octet/stream"}));
    fileName += ".bin";
    saveFile(fileName,urlFile);
  }
</script>