<main>
  <h1>Ciphers In Ruby</h1>

  <%= form_with url: "/encrypt", id: "cipher-form" , multipart: true, :remote => true do |f| %>
    <div class="field-wrapper">
      <%= f.label :input_type, "Input type:" %>
      <%= f.select :input_type, [["Text","text"], ["File","file"]], selected: "text"  %>
    </div>
    <div class="field-wrapper" id="input_field">
      <%= f.label :input_text, "Input text:" %>
      <%= f.text_area :input_text, rows: 5, cols: 60 %>
    </div>
    <div class="field-wrapper">
      <%= f.label :cipher_type, "Cipher type:" %>
      <%= f.select :cipher_type, [["Vigenere", "vigenere"], ["Auto-Key Vigenere","auto-key-vigenere"], ["Extended Vigenere","extended-vigenere"], ["Playfair","playfair"], ["Affine","affine"], ["Hill", "hill"], ["Super Encryption (Extended Vigenere Cipher and Transposition)", "super"], ["Enigma", "enigma"]] %>
    </div>
    <div class="field-wrapper">
      <%= f.label :key, "Key:" %>
      <%= f.text_field :key %>
    </div>
    <div class="button-wrapper">
      <%= f.submit "Encrypt" %>
      <%= f.submit "Decrypt", formaction: "/decrypt" %>
    </div>
  <%end%>

  <div id="output">
    <label for="ciphertext-output">Output text:</label>
    <textarea id="ciphertext-output" rows="5" cols="60"></textarea>
  </div>
</main>
